* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_17 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_18 {
    width: 100%;
    height: 100%;
    background: url("../images/v2_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: absolute;
    top: 35px;
    left: 0px;
    overflow: hidden;
  }
  .v2_19 {
    width: 100%;
    height: 952px;
    background: rgba(110,110,110,1);
    opacity: 0.30000001192092896;
    position: absolute;
    top: 72px;
    left: 3px;
    border: 1px solid rgba(0,0,0,1);
  }
  .v2_20 {
    width: 100%;
    height: 70px;
    background: rgba(75,181,227,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v2_21 {
    width: 125px;
    height: 70px;
    background: url("../images/v2_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 656px;
    overflow: hidden;
  }
  .admin {
    width: 125px;
    height: 120px;
    background: url("../images/admin1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 470px;
    left: 185px;
    overflow: hidden;
    z-index: 4;
  }
  .devices {
    width: 125px;
    height: 120px;
    background: url("../images/devices1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 470px;
    left: 1115px;
    overflow: hidden;
    z-index: 4;
  }
  .v2_22 {
    width: 100px;
    height: 100px;
    background: url("../images/v2_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 73px;
    overflow: hidden;
  }
  .v2_23 {
    width: 348px;
    height: 522px;
    background: rgba(54,150,191,1);
    opacity: 1;
    position: absolute;
    top: 251px;
    left: 546px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v2_24 {
    width: 255px;
    height: 422px;
    background: rgba(54,150,191,1);
    opacity: 1;
    position: absolute;
    top: 316px;
    left: 128px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v2_25 {
    width: 255px;
    height: 422px;
    background: rgba(54,150,191,1);
    opacity: 1;
    position: absolute;
    top: 301px;
    left: 1050px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v2_26 {
    width: 219px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 465px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v2_27 {
    width: 279px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 296px;
    left: 574px;
    font-family: Istok Web;
    font-weight: Regular;
    font-size: 84px;
    opacity: 1;
    text-align: left;
  }
  .v2_28 {
    width: 279px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 350px;
    left: 179px;
    font-family: Istok Web;
    font-weight: Regular;
    font-size: 44px;
    opacity: 1;
    text-align: left;
  }
  .v2_29 {
    width: 279px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 334px;
    left: 1075px;
    font-family: Istok Web;
    font-weight: Regular;
    font-size: 44px;
    opacity: 1;
    text-align: left;
  }
  .v10_20 {
    width: 100px;
    height: 100px;
    background: url("../images/v10_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 487px;
    left: 181px;
    overflow: hidden;
  }
  .v10_21 {
    width: 100px;
    height: 100px;
    background: url("../images/v10_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 571px;
    left: 527px;
    overflow: hidden;
  }





  * {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_30 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_31 {
  width: 100%;
  height: 100%;
  background: url("../images1/v2_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.30000001192092896;
  position: absolute;
  top: 35px;
  left: 0px;
  overflow: hidden;
}
.v2_32 {
  width: 100%;
  height: 952px;
  background: rgba(110,110,110,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 72px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v2_33 {
  width: 100%;
  height: 70px;
  background: rgba(75,181,227,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v2_34 {
  width: 125px;
  height: 70px;
  background: url("../images1/v2_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 656px;
  overflow: hidden;
}
.pfeil {
  width: 125px;
  height: 120px;
  background: url("../images1/pfeil1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 656px;
  overflow: hidden;
  z-index: 5;
}
.v2_35 {
  width: 100px;
  height: 100px;
  background: url("../images1/v2_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1367px;
  overflow: hidden;
}
.v2_36 {
  width: 90%;
  height: 600px;
  background: rgba(54,150,191,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 122px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  z-index: 1;
}
.v2_37 {
  width: 20%;
  height: 200px;
  background: rgb(58, 108, 129);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 600px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_19 {
  width: 706px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 180px;
  left: 158px;
  font-family: Istok Web;
  font-weight: Regular;
  font-size: 84px;
  opacity: 1;
  text-align: left;
  z-index: 2;
}

.upload-icon {
position: absolute;
width:60px;
bottom: 300px;
right: 50%;
z-index: 3;


}
.container {
  position: absolute;
  background: rgba(54,150,191,1);
width:80%;
height: 400px;
top: 320px;
  left: 200px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  z-index: 4;
}





* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_30 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_311 {
    width: 100%;
    height: 100%;
    background: url("../images1/v2_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: absolute;
    top: 35px;
    left: 0px;
    overflow: hidden;
  }
  .v2_32 {
    width: 100%;
    height: 952px;
    background: rgba(110,110,110,1);
    opacity: 0.30000001192092896;
    position: absolute;
    top: 72px;
    left: 4px;
    border: 1px solid rgba(0,0,0,1);
  }
  .v2_33 {
    width: 100%;
    height: 70px;
    background: rgba(75,181,227,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v2_34 {
    width: 125px;
    height: 70px;
    background: url("../images1/v2_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 656px;
    overflow: hidden;
  }
 
  .v2_35 {
    width: 100px;
    height: 100px;
    background: url("../images1/v2_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1367px;
    overflow: hidden;
  }
  .v2_36 {
    width: 90%;
    height: 600px;
    background: rgba(54,150,191,1);
    opacity: 1;
    position: absolute;
    top: 179px;
    left: 122px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    z-index: 1;
  }
  .v2_37 {
    width: 20%;
    height: 200px;
    background: rgb(58, 108, 129);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 600px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v8_19 {
    width: 706px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 180px;
    left: 158px;
    font-family: Istok Web;
    font-weight: Regular;
    font-size: 84px;
    opacity: 1;
    text-align: left;
    z-index: 2;
  }
  
  .upload-icon1 {
  position: absolute;
  width:60px;
  top: 470px;
  right: 47%;
  z-index: 3;
  
  
  }
  .container {
    position: absolute;
    background: rgba(54,150,191,1);
  width: 100%;
  height: 100%;
  top: 70px;
    
   
    z-index: 4;
  }
  